# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.pytest_cache/
*.egg-info/

# Node
node_modules/
dist/
.env
.env.local
.env.production
.env.development

# AWS SAM
.aws-sam/
samconfig.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
