name: Deploy to AWS

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      # Backend Deployment (AWS SAM)
      - name: Install SAM CLI
        uses: aws-actions/setup-sam@v2
        with:
          use-installer: true

      - name: Build Backend
        run: sam build

      - name: Deploy Backend
        run: |
          sam deploy \
            --stack-name skull-king-stack \
            --resolve-s3 \
            --capabilities CAPABILITY_IAM \
            --region ${{ secrets.AWS_DEFAULT_REGION }} \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset

      - name: Get API URL
        id: get-api-url
        run: |
          API_URL=$(aws cloudformation describe-stacks \
            --stack-name skull-king-stack \
            --query "Stacks[0].Outputs[?OutputKey=='ApiUrl'].OutputValue" \
            --output text --region ${{ secrets.AWS_DEFAULT_REGION }})
          echo "API_URL=$API_URL" >> $GITHUB_ENV
          echo "Api Url is $API_URL"

      # Frontend Deployment
      - name: Build Frontend
        working-directory: ./frontend
        run: |
          echo "VITE_API_URL=${{ env.API_URL }}api" > .env.production
          npm ci
          npm run build

      - name: Deploy Frontend to S3
        run: |
          aws s3 sync frontend/dist s3://${{ secrets.S3_BUCKET_NAME }} --delete
